<div
    style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; color: #333333; line-height: 1.5; text-align: center;'
>
    <h1 style='color: #004DD7; font-size: 24px; margin-bottom: 20px;'>Hello,
        {{firstName}}
        {{lastName}}</h1>
    <p>We have received a request to change a password to your account.</p>
    <p>Click the button below to change your password:</p>
    <div style='margin: 25px 0;'>
        <a
            href='{{resetLink}}'
            style='background-color: #004DD7; 
                    color: white; 
                    padding: 12px 25px; 
                    text-decoration: none; 
                    border-radius: 4px; 
                    font-weight: bold;
                    display: inline-block;'
        >
            CHANGE PASSWORD
        </a>
    </div>
    <p>or follow the link:<br />
        <a href='{{resetLink}}' style='color: #004DD7; word-break: break-all;'>{{resetLink}}</a></p>
    <p style='margin-top: 30px;'>If you did not send the request, just ignore this email, and no
        changes will occur in your account.</p>
</div>